<div id="<%= dom_id item %>">
  <h5 class="card-title mb-3">Rp.<%= item.price %> / portion</h5>
  <p class="card-text">
    Category : 
    <% if item.category.nil? %>
      -
    <% else %>
      <%= item.category %>
    <% end %>
  </p>
  <p class="card-text">Description : <%= item.description %></p>
</div>
